.places{
  max-width: 984px;
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  padding: 92px 48px;
  list-style: none;
  color: var(--color-text);
  gap: 80px;
}

@media screen and (max-width: 820px) {
  .places {
    padding: 88px 24px 90px;
    gap: 73px;
  }
}

@media screen and (max-width: 490px) {
  .places {
    padding: 64px 0 66px;
    gap: 50px;
  }
}
