.cover__subtitle {
  max-width: 360px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: 1.25;
  margin: 16px 0 0;
  z-index: 1;
}

@media screen and (max-width: 680px) {
  .cover__subtitle {
    font-size: 16px;
    line-height: 1.19;
  }
}

@media screen and (max-width: 490px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 1.14;
    margin: 8px 0 0;
  }
}
