.header {
  max-width: 100%;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: -webkit-max-content 18px 1fr 18px -webkit-max-content;
  -ms-grid-columns: max-content 18px 1fr 18px max-content;
  grid-template-columns: -webkit-max-content 1fr -webkit-max-content;
  grid-template-columns: max-content 1fr max-content;
  gap: 18px;
  padding: 28px 48px calc((56 / 1280) * 100%);
}

@media screen and (max-width: 1140px) {
  .header {
    padding: 28px 48px 48px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 28px 24px 48px;
  }
}

@media screen and (max-width: 490px) {
  .header {
    padding: 16px 16px 48px;
    gap: 12px;
  }
}
