@font-face {
  font-family: 'Inter';
  src: url(./inter/Regular/Inter-Regular.woff2) format('woff2'),
       url(./inter/Regular/Inter-Regular.woff) format('woff'),
       url(./inter/Regular/Inter-Regular.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(./Inter/Bold/Inter-Bold.woff2) format('woff2'),
       url(./inter/Bold/Inter-Bold.woff) format('woff'),
       url(./inter/Bold/Inter-Bold.ttf) format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Inter';
  src: url(./inter/Black/Inter-Black.woff2) format('woff2'),
       url(./inter/Black/Inter-Black.woff) format('woff'),
       url(./inter/Black/Inter-Black.ttf) format('truetype');
  font-weight: 900;
}


