body {
  margin: 0;
}

.page {
  width: 100%;
  background-color: #2a2c2f;
  font-family: 'Inter', 'Arial', 'Helvetica';
  -webkit-font-smoothing: antialiased;
}

/* шапка */
.header {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 28px 48px calc((56 / 1280) * 100%);
  /* border: 2px solid; */
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 28px 48px 48px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 28px 24px 48px;
  }
}

.header__logo{
  width: 176px;
  height: 52px;
}

.header__lang-links {
  display: grid;
  grid-auto-flow: column;
  font-size: 24px;
  font-weight: normal;
  line-height: 28px;
  align-self: end;
  gap: 18px;
  margin: 0 0 0.5ex;
}

.header__lang-link {
  color: #fff;
  text-decoration: none;
  text-underline-offset: 0.4ex;
}

.header__lang-link_ru {
  text-decoration: underline;
}

/* основной контент */
.content {
}

/* секция lead */
.lead {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  padding: 0 48px;
}

@media screen and (max-width: 820px) {
  .lead {
    padding: 0;
  }
}

.lead__title {
  display: inline;
  max-width: 720px;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  margin: 0;
}


@media screen and (max-width: 720px) {
  .lead__title {
    max-width: 495px;
    font-size: 54px;
    line-height: 56px;
  }
}

@media screen and (max-width: 490px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}

.lead__subtitle {
  font-size: 30px;
  font-weight: normal;
  line-height: 36px;
  max-width: 640px;
  margin: 32px 0 64px;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin: 32px 0 56px;
  }
}

@media screen and (max-width: 720px) {
  .lead__subtitle {
    max-width: 420px;
    font-size: 20px;
    line-height: 24px;
  }
}

@media screen and (max-width: 490px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
  }
}

.lead__image-map {
  max-width: 984px;
  margin: 0;
}

.lead__image {
  width: 100%;
  display: block;
}

.lead__caption {
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: start;
  margin: 8px 0 0;
}

@media screen and (max-width: 820px) {
  .lead__caption {
    padding-left: 24px;
  }
}

/* секция intro */
.intro {
  max-width: 984px;
  color: #fff;
  margin: 0 auto;
  padding: 92px 48px
}

@media screen and (max-width: 820px) {
  .intro {
    padding: 88px 24px;
  }
}

@media screen and (max-width: 490px) {
  .intro {
    padding: 64px 16px;
  }
}

.intro__title {
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  max-width: 690px;
  margin: 0;
}

@media screen and (max-width: 720px) {
  .intro__title {
    font-size: 44px;
    line-height: 48px;
  }
}

@media screen and (max-width: 490px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}

.intro__text {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.63;
  max-width: 690px;
  margin: 40px 0 33px;
}

.intro__list {
  list-style: none;
  max-width: 690px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.intro__list-item {
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  margin: 0;
}

.intro__list-item_value {
  font-weight: normal;
}

/* галерея фото */
.photo-grid {
}

.photo-grid__list {
  display: grid;
  list-style: none;
  padding: 0 48px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .photo-grid__list {
    gap: 14px;
  }
}

@media screen and (max-width: 820px) {
  .photo-grid__list {
    padding: 0 24px;
    gap: 16px;
  }
}

@media screen and (max-width: 490px) {
  .photo-grid__list {
    padding: 0 16px;
    gap: 12px;
  }
}


.photo-grid__item {
  display: block;
  object-position: center;
  object-fit: cover;
  width: 100%;
}

/* секция places */
.places{
  max-width: 984px;
  display: grid;
  margin: 0 auto;
  padding: 92px 48px;
  list-style: none;
  color: #fff;
  gap: 80px;
}

@media screen and (max-width: 820px) {
  .places {
    padding: 88px 24px 90px;
    gap: 73px;
  }
}

@media screen and (max-width: 490px) {
  .places {
    padding: 64px 16px 66px;
    gap: 50px;
  }
}

.place {
  width: 100%;
  display: grid;
  grid-template-columns: calc((460 / 984) * 100%) 1fr;
  grid-template-rows: max-content max-content;
  gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: calc((440 / 928) * 100%) 1fr;
    gap: 48px 32px
  }
}

@media screen and (max-width: 820px) {
  .place {
    grid-template-columns: calc((340 / 720) * 100%) 1fr;
    gap: 48px 28px;
  }
}

.place__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  margin: 0;
}

@media screen and (max-width: 888px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

.place__website {
  align-self: end;
  justify-self: start;
}

.place__url-heading {
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 2px;
  color: #aaa;
  margin: 0 0 12px;
}

.place__link {
  font-size: 18px;
  font-weight: normal;
  line-height: 1;
  color: #fff;
  text-decoration: underline;
  text-underline-offset: 0.4ex
}

.place__image {
  width: 100%;
  display: block;
  object-position: center;
  object-fit: cover;
}

.place__description {
  gap: 26px;
}

.place__text {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.61;
  margin: 0 0 26px;
  align-self: start;
}

@media screen and (max-width: 888px) {
  .place__text {
    font-size: 16px;
  }
}

.place__text:last-child {
  margin: 0;
}

/* секция cover */
.cover {
  padding: 0 48px 92px;
}

@media screen and (max-width: 1024px) {
  .cover {
    padding: 0 0 92px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    padding: 0 0 88px;
  }
}

@media screen and (max-width: 490px) {
  .cover {
    padding: 0 0 64px;
  }
}

.cover__overlay {
  width: 100%;
  background-image: url(../images/cover-trains-1280.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  color: #fff;
  /* padding: 245px 0; */
  padding: calc((245 / 1184) * 100%) 0;
  transition: opacity 0.2s ease;
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    padding: calc((195 / 1024) * 100%) 0;
  }
}

@media screen and (max-width: 820px) {
  .cover__overlay {
    padding: calc((115 / 768) * 100%) 0;
  }
}

.cover__overlay::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #2a2c2f;
  opacity: 0.3;
  transition: opacity 0.3s ease;
}

.cover__overlay:hover::before {
  opacity: 0.7;
}

.cover__title {
  max-width: 560px;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  text-align: center;
  margin: 0 0 32px;
  z-index: 1;
}

@media screen and (max-width: 720px) {
  .cover__title {
    max-width: 340px;
    font-size: 44px;
    line-height: 48px;
  }
}

@media screen and (max-width: 490px) {
  .cover__title {
    max-width: 250px;
    font-size: 32px;
    line-height: 35px;
  }
}


.cover__subtitle {
  max-width: 360px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  line-height: 22px;
  margin: 0;
  z-index: 1;
}

@media screen and (max-width: 720px) {
  .cover__subtitle {
    font-size: 16px;
    line-height: 19px;
  }
}

@media screen and (max-width: 490px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}

/* подвал */
.footer {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 0 48px 24px;
}

@media screen and (max-width: 820px) {
  .footer {
    padding: 0 24px 24px;
  }
}

@media screen and (max-width: 490px) {
  .footer {
    flex-direction: column;
    gap: 48px;
    padding: 0 16px 24px;
  }
}

.footer__links {
  list-style: none;
  display: flex;
  gap: 18px;
  margin: 0;
  padding: 0;
  align-self: end;
}

@media screen and (max-width: 720px) {
  .footer__links {
    flex-direction: column;
    gap: 32px;
  }
}

.footer__link {
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 720px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}

.footer__copyright {
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  margin: 0;
  align-self: end;
}

@media screen and (max-width: 490px) {
  .footer__copyright {
    line-height: 14px;
    align-self: start;
  }
}
