.button-theme {
  width: 60px;
  height: 28px;
  position: relative;
  background-color: var(--color-background);
  border: 2px solid var(--color-elements);
  border-radius: 25px;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: end;
      justify-self: end;
}

.button-theme:hover {
  cursor: pointer;
}

@media screen and (max-width: 490px) {
  .button-theme {
    width: calc((6/7) * 60px);
    height: 24px;
  }
}
